
		<!-- Body Content -->
		
		<tr><td class="content"><table class="clean" align="center"><tr>
			
			<td class="contentColumn"><table class="instructionsTable">
				<tr><td class="heading">Welcome to <%= $master.formal_name%> Pathways</td></tr>
				
				<tr><td style="text-align:justify"><span class="text">
				We're creating a new kind of alumni site, one that facilitates conversations between current <%= $master.self_description%>s and <%= $master.informal_name%> alums, and then shares 
				the stories, advice, and wisdom of those conversations. Our site's a hybrid of alumni magazine classnotes, 
				LinkedIn profiles, and alumni panels. Our goal is to help current students and make a stronger <%= $master.informal_name%> community.</span></td></tr>

				<tr><td><table class="dot"><tr><td class="dot"/></tr></table></td></tr>
				
				<tr><td style="text-align:justify">
				<span class="title">How it works</span><br/><span class="text">Alumni and students can create their own Pathway pages. Or, students
				can find alumni they would like to interview, arrange a time to speak, record a great conversation, and then share that interview
				with the community, who can then post additional questions for the featured alum. You can find more detailed instructions on our interview page. 

				<tr><td><table class="dot"><tr><td class="dot"/></tr></table></td></tr>


				<tr><td style="text-align:justify"><span class="title">Team</span><br/><span class="text">
				Coram Bryant<br /> 
				Kelly Nigh<br />
				Jacob Klein<br /> 
				</span></td></tr>
			</table></td>

			<td width="20" />
			
			 <td class="contentColumn"><table class="aboutTable">
				<tr><td class="heading" /></tr>

				<tr><td class="contentColumn" align="center"><table class="clean" width="100%">
					<tr><td class="box" align="center"><table class="clean" cellpadding="5">
					<tr><td colspan="2" class="heading" style="text-align:center">We want to hear from you</td></tr>
					<tr><td colspan="2" class="text">If you are interested learning more about Stanford Pathways, or want
					to complain, report a bug, suggest a new feature, or praise us to the skies, please
					contact us at</td></tr>
					<tr><td colspan="2" class="text" style="text-align:center"><a href="mailto:team@stanfordpathways.com">team@stanfordpathways.com</a></td></tr>
					
					<tr><td colspan="2"/></tr>

				</table></td></tr>


			</table></td>  
		
		</tr></table></td></tr>

<% content_for :javascript do %>
<script type="text/javascript">
	
	function rollOver(imgName, imgSrc)
   	{
		document.getElementById(imgName).src = imgSrc;
	}

	var currentSeed = null;

	function showSeed(id)
	{
		if (currentSeed != null)
		{
			currentSeed.style.display = 'none';
		}

		currentSeed = document.getElementById('seed' + id);
		currentSeed.style.display = 'inline';
	}

	var searchString = "Search for alumni to interview";
	var box = document.getElementById('searchBox');
	box.value = searchString;
	box.style.color = "gray";
	
	function searchBoxClick(e)
	{
		var box = document.getElementById('searchBox');
		
		if (box.value == searchString)
		{
			box.value = "";
			box.style.color = "black";
		}
	}

	function searchImgClick()
	{	
		var box = document.getElementById('searchBox');

		if (box.value == searchString)
		{
			box.click();
			box.focus();
			return false;
		}

		doSearch(box.value);
	}

	function searchBoxKey(e)
	{
		var code = (e && e.which) ? e.which : event.keyCode;
		if(code == 13)
		{
			return doSearch(document.getElementById('searchBox').value);
		}
		
		return true;
	}

	function doSearch(value)
	{	
		var input = document.getElementById('search_input');
		input.value = value;
		input.click();
		return false;
	}
</script>
<% end %>
